<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="contact.css">
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="index.html" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Demo Software
                    Solutions</a>
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="#">What we do</a>
                    <ul class="dropdown">
                        <li><a href="webapp.html">Web App Development</a></li> 
                        <li><a href="Mobileappdev.html">Mobile App Development</a></li>
                        <li><a href="E-Commerce.html">E-Commerce Solutions</a></li>
                        <li><a href="game.html">Game App Development</a></li>
                        <li><a href="Graphic design.html">Graphics Design</a></li>
                        <li><a href="digital marketing.html">Digital Marketing</a></li>
                    </ul>
                </li>
                <li><a href="joinus.html">Join Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="login.html">LogIn</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="contactus">
    <div class="contactus-forms" method="post">
        <div class="title">Contact Us</div>
        <div class="inputs">
            <label>Name</label>
            <input type="text" placeholder="Enter your full name">
            <label>Email</label>
            <input type="email" placeholder="example@gmail.com">
            <label>Message</label>
            <input type="textarea" placeholder="Enter your Message">
            <button>Submit</button>
        </div>
    </div>
    <br>
    <div class="reachus">
        <div class="title-reachus">Reach Us</div>
        <div class="reachus-contents">
            <div class="mail-img">
                <img src="./images/email-icon.webp">
            </div>
            <div class="mail">
                <p>admin@demosoftwaresolutions.com</p>
            </div>
            <div class="telephone-img">
                <img src="./images/telephone.png">
            </div>
            <div class="telephone">
                <p>044-22446688</p>
            </div>
            <div class="mobile-img">
                <img src="./images/mobile.png">
            </div>
            <div class="mobile">
                <p>+91 9988776655</p>
            </div>
            <div class="loc-img">
                <img src="./images/location.png">
            </div>
            <div class="loc-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo nesciunt quidem earum atque aliquid et iste quae dicta!</p>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content1">
        <h2 class="footer-c11">Demo Software Solutions</h2>
        <h4 class="footer-c12">Excellent Software Services Assured</h4>
    </div>
    <div class="footer-content2">
        <h2 class="footer-21">Our Services</h2>
        <ul class="footer-22">
            <li>Web Development</li>
            <li>E-commerce App Development</li>
            <li>Mobile App Development</li>
            <li>Game App Development</li>
            <li>Graphics Design</li>
            <li>Digital Marketing</li>
        </ul>
    </div>
    <div class="footer-content3">
        <h2 class="footer-31">Company</h2>
        <ul class="footer-32">
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Careers</li>
            <li>Login</li>
        </ul>
    </div>
    <div class="footer-content4">
        <h2 class="footer-41">Follow Us</h2>
        <ul class="footer-42">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div>
</footer>
</body>

</html>