<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="joinus.css">
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="index.html" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Demo Software
                    Solutions</a>
            </div>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="#">What we do</a>
                    <ul class="dropdown">
                        <li><a href="webapp.html">Web App Development</a></li> 
                        <li><a href="Mobileappdev.html">Mobile App Development</a></li>
                        <li><a href="E-Commerce.html">E-Commerce Solutions</a></li>
                        <li><a href="game.html">Game App Development</a></li>
                        <li><a href="Graphic design.html">Graphics Design</a></li>
                        <li><a href="digital marketing.html">Digital Marketing</a></li>
                    </ul>
                </li>
                <li><a href="joinus.html">Join Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="login.html">LogIn</a></li>
            </ul>
        </div>
    </nav>
    <div class="joinus-main">
        <div class="content1">
            <h1 class="joinus-header">Careers in Demo Software Solutions</h1>
            <p>We are invested in our people for the long term, supporting them to imagine and build towards the
                meaningful careers they aspire to. We support the development of our people, providing them with
                opportunities and tools for them to continuously develop and reinvent their skills and careers, so they
                remain at the cutting edge of innovation.</p>
        </div>
        <div class="content2">
            <iframe width="400" height="200" src="https://www.youtube.com/embed/xuxTJUIi7nQ">
            </iframe>
        </div>
    </div>
    <div class="content3">
        <div class="content31">
            <h1>For Freshers</h1>
            <h3>Launch your career at Demo Software Solutions - Where innovation meets opportunity.</h3>
            <a href="https://docs.google.com/forms/d/1WMeXZfMbqkMXLLQn2IxeNVBTMhhCuFpfLNCqk6YLf-A"><button class="buttons">Apply Now!</button></a>
        </div>
        <div class="content32">
            <h1>For Experienced Professionals</h1>
            <h3>Accelerate and Elevate Your Career Path with Demo Software Solutions - Your Gateway to Innovation.</h3>
            <a href="https://docs.google.com/forms/d/1WMeXZfMbqkMXLLQn2IxeNVBTMhhCuFpfLNCqk6YLf-A"><button class="buttons">Apply Now!</button></a>
        </div>
    </div>
    <footer>
        <div class="footer-content1">
            <h2 class="footer-c11">Demo Software Solutions</h2>
            <h4 class="footer-c12">Excellent Software Services Assured</h4>
        </div>
        <div class="footer-content2">
            <h2 class="footer-21">Our Services</h2>
            <ul class="footer-22">
                <li>Web Development</li>
                <li>E-commerce App Development</li>
                <li>Mobile App Development</li>
                <li>Game App Development</li>
                <li>Graphics Design</li>
                <li>Digital Marketing</li>
            </ul>
        </div>
        <div class="footer-content3">
            <h2 class="footer-31">Company</h2>
            <ul class="footer-32">
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Careers</li>
                <li>Login</li>
            </ul>
        </div>
        <div class="footer-content4">
            <h2 class="footer-41">Follow Us</h2>
            <ul class="footer-42">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>